/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(nature.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .container {

    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color:white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 80%;
    color:solid black;
  }
  h1{
    font-family: 'Times New Roman', Times, serif;
    color:black;

  }
  
 h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #ff3c00;
  }
  
  p {
    line-height: 1.6;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  address {
    margin-top: 10px;
    font-style: normal;
  }
  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  